<VirtualHost 78.46.66.163>
	DocumentRoot "/mnt/user/@1"
	ServerName @2
	<Directory "/mnt/user/@1">
		allow from all
		Options +FollowSymLinks  +Indexes
	</Directory>
        CustomLog /var/log/apache2/@1/access.log combined
	ErrorLog /var/log/apache2/@1/error.log
</VirtualHost>
